include requirements/*.txt
include rsidet/VERSION
include rsidet/.mim/model-index.yml
include rsidet/.mim/demo/*/*
recursive-include rsidet/.mim/configs *.py *.yml
recursive-include rsidet/.mim/tools *.sh *.py
